<%

   heros_of_ukraine_link = 'http://ukrgeroes.narod.ru/GordiychukIV.htm'
   bbc_timeline_link = 'http://www.bbc.com/news/world-europe-27308526'
   malaysian_airlines_link = 'http://www.bbc.com/news/world-europe-27308526'
   rebels_link = 'http://en.wikipedia.org/wiki/Malaysia_Airlines_Flight_17'
   google_maps_link = 'https://www.google.com/maps/place/Hora+Savur+Mohyla,+Donetsk+Oblast,+Ukraine/@47.9218612,38.7405979,3a,75y,270h,90t/data=!3m5!1e1!3m3!1szOBfm04avMcAAAQYQQYiAg!2e0!3e11!4m2!3m1!1s0x40e1aba72b61c717:0x8d6738503d0f9b09?hl=en'
   overhead_link = 'https://www.google.com/maps/place/Hora+Savur+Mohyla,+Donetsk+Oblast,+Ukraine/@47.8934963,38.7287291,18278m/data=!3m1!1e3!4m2!3m1!1s0x40e1aba72b61c717:0x8d6738503d0f9b09?hl=en'
%>
<div class="container">
	<h1>The Battle of Savur-Mohyla</h1>
	<h5><i>By Bill Campsey</i></h5>
	<div class="row">
		<aside class="col-md-4 col-md-push-8 battle-aside">
			<h5><b>Note from the author:</b></h5>
			<p>
				What you read below is taken from the facts as they were reported on a web
				site for <a href="<%= heros_of_ukraine_link %>" target="_blank">Heroes of Ukraine</a>, a
				<a href="<%= bbc_timeline_link %>" target="_blank">BBC timeline</a>, and Wikipedia.
				I have made some tactical evaluations to fill in the gaps between the facts. I use English conditional
				verb forms (e.g., "must have" "should have") to give a clue that I am inserting my judgment to keep
				continuity in the narrative. I invite readers with tactical expertise to critique my judgments. I will
				continue to revise this narrative as more facts become apparent. But, there is clearly no doubt that
				there is sufficient evidence now to propagate the exploits of this band of brothers. - Bill Campsey
			</p>
		</aside>
		<div class="col-md-8 col-md-pull-4">
			<p>
				It had been a long and tragic summer; 2014. The fifteen-point peace plan brokered on 20 June between
				President Petro Poroshenko and Russia collapsed upon the weight of its own absurdity. The Russians
				insisted that they were not party to an internal affair between the Ukrainian president and his pro-
				Russian separatist citizens. And, without strong and transparent backing from Russia, the peace plan
				was doomed. On 5 July, the president re-launched his government's offensive against the rebels, who
				abandoned strongholds in northern Donetsk oblast; reducing the territory controlled by them. (See the
				figure titled "Malaysian Airlines tragedy, 17 July"
				<a href="<%= malaysian_airlines_link %>" target="_blank">here</a>.)
			</p>
			<p>
				Then, on 17 July, Malaysia Airlines flight 17; a civilian aircraft flying on an internationally-prescribed
				path was shot from the sky; <a href="<%= rebels_link %>" target="_blank">almost
				surely by pro-Russian rebels</a>. This killing of 298 innocent souls compounded Mr. Putin's problems. Not only
				were his proxies in Ukraine losing the ground battle to a newly-determined and improving Ukrainian military,
				this terrible public relations failure severely degraded his ability to appear to the world as a reluctant
				patriarch; a leader simply and peacefully trying to protect the rights of Russian heritage outside of Russia.
				This was a terrible loss; a failure. The world yearned to discover that Russia had had enough; surely Putin
				would find some face-saving means to withdraw from his aggressive stance.
			</p>
		</div>
	</div>
	<p>
		While the world held its breath, Colonel Ihor Hordiychuk and the soldiers he would soon lead into
		pitched battle quelled their fears with grim determination.
	</p>
	<p>
		On 12 August, the colonel led a fourteen-man Special Forces patrol poetically named "Crimea" onto
		the heights of Savur-Mohyla.
		<a href="<%= google_maps_link %>" target="_blank">Google Maps</a>, makes it clear that the heights of this location
		command observation to great distance. This <a href="<%= overhead_link %>" target="_blank">overhead view of the same location</a> illustrates that Savur-
		Mohyla commanded the only road that the Russians could use to make their invasion in this area.
		Commanding heights, in military terms, convey at least two advantages. First, if the defender has
		significant height over his enemy, the advancing foe must bring significantly greater forces to the fight in
		order to win. Second, the side that holds the heights will have excellent capacity to see where his enemy
		is and what formations he is assuming.
	</p>
	<p>
		When the Russians began their invasion, Hordiychuk and his soldiers began to request and adjust
		artillery. So much of military tactics comes down to creativity and judgment – art. However, delivery
		of artillery to a specified place is a matter of science. Once an observer has communications with
		his artillery unit; once he can see where rounds land and their relation to the target; even untrained
		observers can be coached into providing effective adjustments that eventually find the target.
		Hordiychuk was highly trained. There can be no doubt that the artillery he was calling for significantly
		blunted the Russian onslaught.
	</p>
	<p>
		As soon as the Russians began to receive effective artillery fire against their advancing columns simple
		tactical prudence would dictate that they look for the position of the observer who could bring this
		bedlam down upon them. What makes the heights of Savur-Mohyla so useful to the defenders would
		also make it obvious to the Russians. Competent officers probably determined early on that their
		antagonist was dug in on that hill.
	</p>
	<p>
		The enemy attacked the patrol with artillery and armor. What is not clear from the official report is why
		an armor attack did not easily overrun Hordiychuk's small unit. Even if patrol Crimea had been armed
		with anti-tank weapons, its numbers were so small that tanks would have easily destroyed the unit. I
		can only assume that the slopes of their position were steep enough to prevent advance by the tanks.
		The Russian attack did have one important effect. It destroyed tactical communications between patrol
		Crimea and its supporting artillery. But, this is a story of the 21<sup>st</sup> Century.  Hordiychuk and his soldiers
		had cell phones with them. And, Hordiychuk had had the foresight to know the cell phone numbers of
		his supporting artillery. Crimea continued to attack the Russian advance with artillery.
		Century. Hordiychuk and his soldiers
	</p>
	<p>
		The patrol was under continuous and heavy artillery fire. Almost every day, Russian infantrymen
		stormed the top of Savur-Mohyla. The fighting positions the patrol had prepared before the battle
		saved lives. But the soldiers, under constant artillery fire, suffered severe concussions and other injuries.
		Russian infantry made six attempts to capture the position at night. The well-organized defense of the
		colonel and his soldiers – as well as the superb training he had given them – repelled those attacks with
		minimal loses to the defenders.
	</p>
	<p>
		On 18 August, the members of patrol Crimea were exhausted. It was time for other Ukrainian patriots
		to relieve them in their position. Eight soldiers from the 25<sup>th</sup> Airborne Brigade and 17 volunteer scouts
		from the 4<sup>th</sup> company 42<sup>nd</sup> territorial defense arrived to take their turn to defend their country. But,
		Hordiychuk would not leave. He stayed and continued to direct artillery fire against the invaders.
	</p>
	<p>
		By 20 August, the border area was completely occupied by Russian troops. The defenders of Savur-
		Mohyla were isolated ... the nearest Ukrainian unit was 40 kilometers away. The soldiers under
		Hordiychuk's command stayed.
	</p>
	<p>
		The morning of 24 August witnessed the tenacious Hordiychuk and his unit continuing to transmit
		information on the multiple columns invading the area. But, Ukrainian artillery had moved out of range.
		Later this day, there was another assault by the Russians on Savur-Mohyla. The tank attack was again
		repulsed. Hordiychuk's soldiers encouraged him to withdraw since there was no Ukrainian artillery
		support for his defense. Hordiychuk insisted that he would hold the position until he had orders to
		withdraw. He got those orders in the evening of 24 August. But, by now, the unit was in a very tight
		position.
	</p>
	<p>
		On 25 August, the patrol infiltrated out of their position under the cover of darkness. They passed
		through the enemy's rear area and joined Ukrainian troops 55 km away near the village of Mnohopillya
		Amvrosiivsky.
	</p>
	<p>
		On 29 August, the truck Hordiychuk and his soldiers were riding in was on a break. Suddenly, artillery
		and mortar fire exploded all around. One exploded at the back of the vehicle that Hordiychuk was in.
		A large artillery fragment had lodged in his head; part of his brain was unprotected by the skull. The
		wound was bandaged. When Russian paratroopers followed the artillery and mortar attack, Hordiychuk
		tore off his bandage and tried to direct the defense. But, he passed out from a loss of too much blood.
		The Russians captured the convoy. According to reports, he was "cast aside" and no one was allowed to
		help him.
	</p>
	<p>
		Two days later a Red Cross vehicle brought him to Dnipropetrovsk Region Clinical hospital. It is unclear
		how he went from Russian hands into the custody of the Red Cross. However, some of his subordinates
		reported that all who examined him concluded that he had little chance to survive.
	</p>
	<p>
		In mid-September, he was transferred to the Main Military Hospital in Kyiv, and has been in
		intensive care in the neurological department. He is a tenacious man. He has willed himself to live in
		circumstances when all reason says that he should die.
	</p>
	<p>
		On 21 October, President Petro Poroshenko awarded him Ukraine's highest honor that can be conferred
		on an individual, Hero of Ukraine and Order of the Gold Star.
	</p>
	<p>
		There are surely many hundreds more Heroes of Ukraine. Ihor Hordiychuk is simply the latest one to
		have the opportunity to demonstrate it. Ukraine has legally been a nation since 1991. Over the course of
		the events of the last year (fall 2013 until fall 2014), Ukraine has found her nationhood validated in the
		hearts of her citizens and in the hearts of foreigners like me who have come to love her. Slava Ukrainki...
	</p>
	<h3>Want to help?</h3>
	<p>Here are ways that you can!</p>
	<a href="http://bit.ly/1oRu2Wn" target="_blank"><img alt="UFF Logo" src="/assets/uff.png" class="img-left" style="margin-right:30px;"></a>
	<ol>
		<li>
			If you would like to support the Ukrainian Army with sorely needed clothing and other equipment, you can
			donate to <a href="http://bit.ly/1oRu2Wn" target="_blank">Ukrainian Freedom Fund</a>. Urgent winter needs
			include: fleece sweaters with no hoods, warm gloves (any kind), warm socks, fleece hats, sleeping bag, big
			backpacks. UFF has particularly identified these items on <a href="http://amzn.com/w/2U0L72X3JU6V4" target="_blank">Amazon</a>. Contact
			<a href="mailto:vnazarenko@ukrfreedomfund.org">Victoria Nazerenko</a> for information on how to ship at
			discount rates via <a href="http://meest.us/eng/index.html" target="_blank">Meest America</a> or for free via
			DHL from Germany, and for information on additional in-kind donations that are needed.
		</li>
		<li>
			If you want to specifically direct your contribution to Ihor's battle with his neurological injuries,
			a battle he hasn't won yet, you can enter "For Hordiychuk" when donating online to
			<a href="http://bit.ly/1oRu2Wn" target="_blank">Ukrainian Freedom Fund</a>.
		</li>
		<li>
			U.S. citizens can make tax-deductible donations through UFF's partner, the
			<a href="http://bit.ly/1sIMN9I" target="_blank">U.S.-Ukraine Foundation</a>.Under "What Program to
			Do You Want to Support", select "Health Care and Humanitarian Aid", and under "Specify Sub-Program", enter
			"For UFF" for general contributions to UFF to assist soldiers, or "For UFF-Hordiychuk" to direct your funds
			to Ihor's medical care.
		</li>
	</ol>
	<div id="disqus_thread"></div>
	<script type="text/javascript">
			/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
			var disqus_shortname = 'ihorhordiychuk'; // required: replace example with your forum shortname

			/* * * DON'T EDIT BELOW THIS LINE * * */
			(function() {
					var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
					dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
					(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
			})();
	</script>
	<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>
