<div class="container">
	<h1>Бій за Савур-Могилу</h1>
	<h5><i>By Bill Campsey</i></h5>
	<h5>
		<i>
			Переклад виконав Микола Кос (<a href="mailto:kos.nickolai@gmail.com">kos.nickolai@gmail.com</a>)<br>
			Редактор Олег Бойко (<a href="mailto:olegboyko69@gmail.com">olegboyko69@gmail.com</a>)
		</i>
	</h5>
	<div class="row">
		<aside class="col-md-4 col-md-push-8 battle-aside">
			<h5><b>Примітка від автора:</b></h5>
			<p>
				Те, що ви прочитаєте взято з фактів web
				site for <a href="<%= @heros_of_ukraine_link %>" target="_blank">Heroes of Ukraine</a>, a
				<a href="<%= @bbc_timeline_link %>" target="_blank">BBC timeline</a>, та Wikipedia. Особисто я зробив
				деяке тактичне оцінювання на основі фактів. Я використовував англійські умовні дієслова (напр. "повинні мати",
				"мали б мати") щоб дати читачу розуміння того, що я вставляю своє судження. Я заохочую читачів з тактичним
				досвідом до критики моїх суджень. Я буду оновлювати статтю по мірі надходження фактів. Проте звичайно, немає
				сумнівів у тому, що тут існує достатньо доказів подвигів цього братства про які варто розповідати. - Bill Campsey
			</p>
		</aside>
		<div class="col-md-8 col-md-pull-4">
			<p>
				Було довге та нелегке літо 2014-го. Мирний план з п'ятнадцяти пунктів 20 липня між президентом Петром
				Порошенком та Росією рухнув через його абсурдність. Росіяни наполягали, що вони не є учасниками внутрішніх
				справ українського президента та його проросійських сепаратистських громадян. І звісно, що без сильної
				та прозорої підтримки Росії план був приречений. 5 липня президент відновив наступ на сепаратистів, що призвело
				до здачі ними позиції в північному Донецьку, тим самим зменшуючи територію, контрольовану ними.  (Див. рис.
				під назвою "Malaysian Airlines tragedy, 17 July" at <a href="<%= @malaysian_airlines_link %>" target="_blank">this link</a>.)
			</p>
			<p>
				Тоді, 17 липня, трагедія з малазійським боінгом,  літаком цивільних авіаліній, що здійснював міжнародний переліт
				та був збитий у повітрі <a href="<%= @rebels_link %>" target="_blank">скоріш за все проросійськими сепаратистами</a>.
				Вбивство 298 невинних душ лише ускладнило ситуацію пана Путіна.  Не лише його маріонетки в Україні програвали
				бій новонародженій та постійно удосконалюючій Українській армії, але й жахливий провал пропоганди серйозно
				деградував його можливість появи в світі як сумнівного можновладця; лідера, що просто намагається мирно
				захистити права російської спадщини за межами Росії. Це був жахливий провал. Світ хотів знати, коли Росія
				насититься; звісно, що Путін повинен був щоб придумати, щоб зберегти  позицію та вийти з агресивного стану.
			</p>
		</div>
	</div>
	<p>
		Допоки світ затамував подих, полковник Ігор Гордійчук та солдати, яких він невдовзі поведе в бій, затаїли свої
		страхи за похмурою рішучістю.
	</p>
	<p>
		12 серпня, спецгрупа "Крим" з 14 чоловік під керівництвом  полковника здійснювала патрулювання на висоту
		Савур-Могили. Цей <a href="<%= @google_maps_link %>" target="_blank">лінк в Google Maps</a>, дає краще зрозуміти, що
		висота давала можливість спостереження на велику відстань. Цей <a href="<%= @overhead_link %>" target="_blank">вигляд
		зверху</a> дає можливість побачити, що з Савур-Могили вела лише одна дорога яку росіяни могли використати для
		вторгнення в район.  Контроль висоти давав дві переваги. По-перше, той, хто обороняється знаходився значно вище
		противника, тому переважаючі сили противника повинні були залучити набагато більше сил в бій щоб перемогти.
		По-друге, сторона, що утримує висоту мала чудову можливість бачити місцезнаходження противника та його бойові порядки.
	</p>
	<p>
		Коли росіяни почали вторгнення, полковник Гордійчук подав запит на артилерію та почав її коригувати. Військова
		тактика перетворилася в креативність та судження - мистецтво. Проте, ведення артилерійського вогню по певних
		позиціях це наука. Спостерігач повинен мати зв'язок з підрозділом артилерії; він також повинен бачити куди падають
		снаряди і їх співвідношення до цілі; навіть непідготовлені спостерігачі можуть робити ефективні поправки по
		попаданню в ціль. Гордійчук був добре підготовлений. Не може бути сумнівів, що артилерія значно призупинила
		рішучість наступу росіян.
	</p>
	<p>
		Як тільки по росіянах почався вестися ефективний вогонь артилерії, їх передові колони почали шукати позиції, з
		якої могли б вести спостереження за тим, хто обрушив це пекло на них. Те, що робить Савур-Могилу таким корисним для
		того, хто обороняється, принесе таку саму користь і росіянам. Компетентні офіцери ймовірно заздалегідь визначили,
		що їхній противник закріпиться на цьому пагорбі.
	</p>
	<p>
		Противник атакував патруль артилерією та бронею.  Що не зовсім ясно з офіційних звітів це те, чому бронетехніка
		противника не могла легко подолати невеликий підрозділ Гордійчука. Навіть якщо підрозділ "Крим" був озброєний
		протитанковою зброєю, його чисельність була настільки малою, що танки могли легко знищити його. Я можу лише
		припустити, що  схил, на якому знаходилася його позиція був достатньо крутим, щоб дати перевагу танкам. Російський
		наступ мав один важливий наслідок. Вони знищили тактичний зв'язок між "Кримом" та підлеглою артилерією. Проте це
		історія 21-го століття. Гордійчук та його підлеглі мали мобільний зв'язок з собою. Також полковник передбачивши це,
		мав мобільні номери артилерійського підрозділу. "Крим" продовжував атакувати передові групи противника артилерією.
	</p>
	<p>
		Патруль був під важким та продовжуваним вогнем артилерії. Майже щодня російська піхота штурмувала вершину
		Савур -Могили. Бойові позиції, які підготував патруль зберегли їм життя. Проте солдати, під постійним вогнем
		артилерії зазнали важких ударів та поранень. Російська піхота зробила шість спроб захоплення позицій вночі. Добре
		підготовлена оборона полковника та його солдат так само, як і відмінна підготовка, яку дав Гордійчук, відбила ці
		атаки з мінімальними втратами тих, хто оборонявся.
	</p>
	<p>
		18 серпня військовослужбовці "Криму" були виснажені. Настав час іншим патрулям змінити підрозділ. Вісім солдат з
		25 аеромобільної бригади та 17 волонтерів-розвідників 4-ї роти 42-ї територіальної оборони прибули на заміну та
		оборону своєї держави. Проте, Гордійчук залишився та продовжив коригувати прямий вогонь артилерії проти окупантів.
	</p>
	<p>
		20 серпня прикордонний район був повністю окупований російськими військами. Ті, хто тримав оборону Савур-Могили
		були ізольовані.....найближчий український підрозділ був за 40 км. Солдати також залишилися під командуванням
		Гордійчука.
	</p>
	<p>
		Ранок 24 серпня почався з того, що непоступливий Гордійчук та його підрозділ продовжували передавати інформацію по
		багатьох колонах, що вторгалися в район. Проте українська артилерія була за межами досяжності. Пізніше, цього дня
		був ще один наступ росіян на Савур-Могилу. Танкова атака була знову відбита. Солдати вмовляли Гордійчука відступити,
		оскільки не було жодного артилерійського підрозділу поблизу. Гордійчук наполіг на тому, що ніхто не залишить висоти
		допоки не буде наказу на відступ. Він отримав такий наказ ввечері 24 серпня. Проте на той час підрозділ був ще на
		позиції.
	</p>
	<p>
		25 серпня підрозділ, яким командував полковник Гордійчук залишив позиції під покривом ночі. Вони пройшли через тил
		противника та приєдналися до Українських військ за 55 км поблизу селі Многопілля Амвросіївське.
	</p>
	<p>
		29 серпня вантажівка, на якій їхали Гордійчук та його солдати зламалася. Несподівано почали вибухати снаряди
		артилерії та мінометів. Один з них вибухнув позаду вантажівки, в якій був Гордійчук. Великий осколок снаряду попав
		в голову Гордійчуку; частина його мозку була незахищена черепом. Рану перев'язали. Коли російські війська
		послідували за артилерією та мінометами, Гордійчук зірвав пов’язку, яка заважала та намагався організувати оборону.
		Проте він втратив свідомість від великої втрати крові. Росіяни захопили конвой. Згідно з свідченнями солдат, які
		вижили і були полонені, бойовики наказали залишити Гордійчука як безнадійного пораненого і нікому не дозволили
		надати йому допомогу.
	</p>
	<p>
		Два дні після цього, машина Червоного Хреста доставила його в Обласний Клінічний Шпиталь Дніпропетровська. Не дуже
		зрозуміло як від росіян він потрапив в руки Червоного Хреста.  Проте, деякі підлеглі, що звітували говорили, що
		всі, хто його оглядав говорили, що у нього дуже мало шансів вижити.
	</p>
	<p>
		В середині вересня його перевели до Головного Військового Шпиталю у Києві в реанімацію неврологічного відділення.
		Він сильна людина. Він змусив себе вижити за умов, в яких мав загинути.
	</p>
	<p>
		21 жовтня, президент Петро Порошенко нагородив  його найвищою нагородою України, Героєм України та Орденом Золотої
		Зірки.
	</p>
	<p>
		Звісно, існують сотні Героїв України. Проте Ігор Гордійчук був останнім, хто мав можливість це довести. Офіційно
		Україна стала нацією з 1991 року. Впродовж багатьох подій останнього року (весна 2013-осінь 2014),  Україна знайшла
		свою державність в серцях багатьох громадян та іноземців, таких як я, які прийшли щоб полюбити її. Слава
		Україні.....!!!
	</p>
	<h3>Ви б хотіли допомогти?</h3>
	<p>Ось як Ви це можете зробити!</p>
	<div class="clearfix">
		<a href="http://bit.ly/1oRu2Wn" target="_blank" class="img-left" style="margin-right:30px;"><img alt="UFF Logo" src="/assets/uff.png"></a>
		<ol>
			<li>
				Якщо Ви хочете допомогти Українській Армії необхідним одягом та іншим обмундируванням, Ви можете пожертвувати
				<a href="http://bit.ly/1oRu2Wn" target="_blank">Ukrainian Freedom Fund</a>; контактна особа Вікторія Назаренко
				<a href="mailto:vnazarenko@ukrfreedomfund.org">vnazarenko@ukrfreedomfund.org</a> для інформації які види допомоги
				потрібні і як переслати через спонсорські організації зі знижкою чи безкоштовно.
			</li>
		</ol>
	</div>
	<div id="disqus_thread"></div>
	<script type="text/javascript">
		var disqus_shortname = 'ihorhordiychuk';

		(function() {
			var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
			(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		})();
	</script>
	<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>
