<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title %></title>
	<meta property="og:title" content="<%= t('og.title') %>">
	<meta property="og:type" content="website">
	<meta property="og:url" content="<%= url_for(:only_path => false) %>">
	<meta property="og:image" content="http://<%= @full_host %>/assets/ihor_og.jpg">
	<meta property="og:description" content="<%= t('og.description') %>">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<%= csrf_meta_tags %>

  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
  <%= stylesheet_link_tag 'application', media: 'all' %>

  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><%= t('name') %></a>
        </div>

        <!-- Collect the nav links for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="nav navbar-nav">
						<% @nav_actions.each do |action| %>
            	<li class="<%= action_name == action ? 'active' : '' %>"><a href="<%= action_name == action ? '#' : "/#{action}" %>"><%= t("#{controller_name}.#{action}.title") %></a></li>
						<% end %>
						<%# TODO: Remove this once translation for home page is gtg %>
						<% if request.path == '/battle' %>
							<% @other_locales.each do |l| %>
								<li><a href="http://<%= t('prefix', :locale => l) %>.<%= @no_lang_host %><%= request.path %>"><img class="flag-icon" src="/assets/<%= l.to_s %>_icon.png"><%= t('lang_name', :locale => l) %></a></li>
							<% end %>
						<% end %>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div>
    </nav>
    <%= yield %>
</body>
</html>
